*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html{
    font-size: 62.5%;
}




.container{
    background-color: #141a3456;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

form{
    width: 90%;
    max-width: 50rem;
    padding: 5rem 3rem 2rem;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 0.4rem 3rem rgba(0, 0, 0, 0.5);
    position: relative;
}

.input-group{
    width: 100%;
    margin: 1rem 0;
    display: flex;
    align-items: center;
    position: relative;
}

label{
    flex-basis: 28%;
    font-size: 1.6rem;
}

input{
    flex-basis: 68%;
    padding: 1rem 0;
    background: transparent;
    border: 0;
    outline: 0;
    border-bottom: 1px solid #999;
    color: #333;
    font-size: 1.6rem;
}

::placeholder{
    font-size: 1.4rem;
}

button{
    background-color: #141a34;
    padding: 1rem 4rem;
    margin: 3rem auto 1rem;
    outline: 0;
    color: #fff;
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0.7);
    border-radius: 2rem;
    font-size: 1.4rem;
    display: block;
}



table, th, td{
    border: 1px solid black;
    border-collapse: collapse;
    padding: 1rem;
    font-size: 2rem;
}

table{
    margin: 1rem auto;
}

tr{
    position: relative;
}

tr:nth-child(even){
    background-color: #ddd;
}

th{
    background-color: #666;
    color: #fff;
}

.del{
    padding: 0;
    border: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0.7rem;
    right: -4rem;
    color: #000;
    display: inline-block;
    font-size: 2.5rem;
    background-color: rgba(255, 0, 0, 0.120);
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    text-align: center;
    transition: 0.5s ease;
}

.del:hover{
    background-color: rgb(246, 53, 91);
    color: #fff;
}







tr td{
    white-space: nowrap;
    overflow: hidden;
}
 
tr th:nth-child(1),
tr td:nth-child(1){
    width: 13rem;
    max-width: 13rem;
}

tr th:nth-child(2),
tr td:nth-child(2){
    width: 18rem;
    max-width: 18rem;
}

tr th:nth-child(3),
tr td:nth-child(3){
    width: 25rem;
    max-width: 25rem;
}

tr th:nth-child(4),
tr td:nth-child(4){
    width: 8rem;
    max-width: 8rem;
    text-align: center;
}

tr th:nth-child(5),
tr td:nth-child(5){
    width: 30rem;
    max-width: 30rem;
}

tr th:nth-child(6),
tr td:nth-child(6){
    width: 18rem;
    max-width: 18rem;
}

tr th:nth-child(7),
tr td:nth-child(7){
    width: 13rem;
    max-width: 13rem;
}











#mod{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 1000;
}







@media (max-width: 1400px) {
    html{
        font-size: 56.25%;
    }
}

@media (max-width: 1202px) {
    html{
        font-size: 50%;
    }
}

@media (max-width: 1070px) {
    html{
        font-size: 43.75%;
    }
}

@media (max-width: 940px) {
    html{
        font-size: 37.5%;
    }
}

@media (max-width: 800px) {
    html{
        font-size: 31.25%;
    }
}
